sudo: required
dist: trusty
#group: edge
language: python
services:
  - docker
env:
  global:
    - PATH="/usr/bin:$PATH"
before_install:
    # Ansible doesn't play well with virtualenv
  - deactivate
  - sudo apt-get update -qq
  - sudo apt-get install -y -o Dpkg::Options::="--force-confnew" docker-ce

install:
  #- pip install docker-py # Important: docker-py is not compatible anymore, use docker instead
  # avoid bug https://github.com/ansible/ansible/issues/23016 until 2.2.3 is released
  # ref: https://github.com/metacloud/molecule/issues/783
  - pip install ansible
  - pip install molecule==1.25.0 # needs to be ported to molecule 2 http://molecule.readthedocs.io/en/latest/porting.html
  # - pip install required driver (e.g. docker, python-vagrant, shade)
  - pip install docker
script:
  - molecule create
  - molecule converge
  - molecule syntax
  - molecule idempotence

notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
