---

- name: redhat | install EPEL release package for RHEL
  yum:
    name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present
  retries: 3
  delay: 2
  when: ansible_distribution == 'Red Hat Enterprise Linux'

- name: redhat | install EPEL release package for Centos
  yum:
    name: "epel-release"
    state: present
  retries: 3
  delay: 2
  when: ansible_distribution == 'CentOS'

# https://github.com/grke/burp/pull/831/files#diff-c47c7c7383225ab55ff591cb59c41e6bR23
# required for uthash-devel on Centos 8
- name: redhat | Enable PowerTools repo on CentOS 8
  ini_file:
    dest: /etc/yum.repos.d/CentOS-PowerTools.repo
    section: PowerTools
    option: enabled
    value: "1"
  when: 
    - ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
