---

- name: redhat | install EPEL release package for RHEL
  yum:
    name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present
  retries: 3
  delay: 2
  when: ansible_distribution == 'Red Hat Enterprise Linux'

- name: redhat | install EPEL release package for Centos
  yum:
    name: "epel-release"
    state: present
  retries: 3
  delay: 2
  when: ansible_distribution == 'CentOS'

# https://github.com/grke/burp/pull/831/files#diff-c47c7c7383225ab55ff591cb59c41e6bR23
# required for uthash-devel on Centos 8
- name: Enable PowerTools repo on CentOS/RedHat 8
  ini_file:
  community.general.ini_file:
    path: /etc/yum.repos.d/CentOS-Linux-PowerTools.repo
    section: powertools
    option: enabled
    value: "1"
    mode: "0644"
  notify:
    - yum update cache
  when:
    - ansible_distribution in [ "CentOS", "EL" ]
    - ansible_distribution_major_version >= "8"
