[Unit]
Description=Burp Backup service
After=network.target

[Service]
ExecStart={{ burp_sv_server_command }}
Type=forking
User={{ burp_sv_server_user }}
RuntimeDirectory=burp
RuntimeDirectoryMode=0750
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
