[Unit]
Description=Burp Backup service
After=network.target

[Service]
ExecStart={{ burp_sv_server_command }}
Type=simple
User={{ burp_sv_server_user }}
RuntimeDirectory=burp # Directive to create /run/burp directory
RuntimeDirectoryMode=0750
RestartSec=10
TimeoutStartSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
