# Burp-UI configuration file
# @version@ - 0.6.0
# @release@ - stable
# https://burp-ui.readthedocs.io/en/0.6.0/buiagent.html
[Global]
# burp server version 1 or 2
version = {{ burp_agent_global_version }}
# On which port is the application listening
port = {{ burp_agent_global_port }}
# On which address is the application listening
# '::' is the default for all IPv6
# set it to '0.0.0.0' if you want to listen on all IPv4 addresses
bind = {{ burp_agent_global_bind }}
# enable SSL
ssl = {{ burp_agent_global_ssl }}
# ssl cert
sslcert = {{ burp_server_ssl_cert }}
# ssl key
sslkey = {{ burp_server_ssl_key }}
# agent password
password = {{ burp_agent_global_password }}

[Security]
## This section contains some security options. Make sure you understand the
## security implications before changing these.
# list of 'root' paths allowed when sourcing files in the configuration.
# Set this to 'none' if you don't want any restrictions, keeping in mind this
# can lead to accessing sensible files. Defaults to '/etc/burp'.
# Note: you can have several paths separated by comas.
# Example: /etc/burp,/etc/burp.d
includes = {{ burp_agent_security_includes }}
# if files already included in config do not respect the above restriction, we
# prune them
enforce = {{ burp_agent_security_enforce }}
# enable certificates revocation
revoke = {{ burp_agent_security_revoke }}

[Experimental]
## This section contains some experimental features that have not been deeply
## tested yet
# enable zip64 feature. Python doc says:
# « ZIP64 extensions are disabled by default because the default zip and unzip
# commands on Unix (the InfoZIP utilities) don’t support these extensions. »
zip64 = {{ burp_agent_experimental_zip64 }}

## burp2 backend specific options
[Burp]
## burp binary
burpbin = {{ burp_agent_backend_burpbin }}
## vss_strip binary
stripbin = {{ burp_agent_backend_stripbin }}
## burp client configuration file used for the restoration (Default: None)
bconfcli = {{ burpui_backend_bconfcli }}
## burp server configuration file used for the setting page
##
## bconfsrv = /etc/burp/burp-restore.conf
##
## I have fixed the client to be on burp-server because the status showns better on burpui
bconfsrv = {{ burpui_backend_bconfsrv }}
##
## temporary directory to use for restoration
tmpdir = {{ burp_agent_backend_tmpdir }}
## how many time to wait for the monitor to answer (in seconds)
timeout = {{ burp_agent_backend_timeout }}