[program:buiagent]
priority={{ burp_sv_agent_priority }}
directory={{ burp_sv_agent_directory }}
command={{ burp_sv_agent_command }}
user={{ burp_sv_agent_user }}
autostart={{ burp_sv_agent_autostart }}
autorestart={{ burp_sv_agent_autorestart }}
stdout_logfile={{ burp_sv_agent_stdout_logfile }}
stderr_logfile={{ burp_sv_agent_stderr_logfile }}

