[program:burp-server]
priority={{ burp_sv_server_priority }}
directory={{ burp_sv_server_directory }}
command={{ burp_sv_server_command }}
user={{ burp_sv_server_user }}
autostart={{ burp_sv_server_autostart }}
autorestart={{ burp_sv_server_autorestart }}
stdout_logfile={{ burp_sv_server_stdout_logfile }}
stderr_logfile={{ burp_sv_server_stderr_logfile }}