[program:burp-restore]
priority={{ burp_sv_restore_priority }}
directory={{ burp_sv_restore_directory }}
command={{ burp_sv_restore_command }}
user={{ burp_sv_agent_user }}
autostart={{ burp_sv_restore_autostart }}
autorestart={{ burp_sv_restore_autorestart }}
stdout_logfile={{ burp_sv_restore_stdout_logfile }}
stderr_logfile={{ burp_sv_restore_stderr_logfile }}