mode = client
server = 127.0.0.1

##
## port = {{ burp_restore_port }}
## status_port = {{ burp_restore_status_port }}
##
## I have fixed the client to be on burp-server because the status showns better on burpui
port = {{ burp_server_port }}
status_port = {{ burp_server_status_port }}
##

pidfile = {{ burp_client_pidfile }}

cname = test_client
password = {{ burp_client_password }}

protocol = {{ burp_server_protocol }}

syslog = 0
stdout = 1

ca_burp_ca = {{ burp_server_ca_burp_ca }}_test
ca_csr_dir = {{ burp_client_ca_csr_dir }}_test
ssl_cert_ca = {{ burp_client_ssl_cert_ca }}_test
ssl_cert = {{ burp_client_ssl_cert }}_test
ssl_key = {{ burp_client_ssl_key }}_test
ssl_key_password = {{ burp_server_ssl_key_password }}
ssl_peer_cn = {{ ansible_nodename }}

# Backup /etc/burp
include = /etc/burp
