# {{ ansible_managed }}

password = {{ item.password | default(burp_client_password) }}

# More configuration files can be read, using syntax like the following
# (without the leading '# ').
. incexc/{{ item.profile | default('profile_lnxsrv') }}
